<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ara nokta</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <button class="random-joke">Ara nokta</button>
      <div class="joke">
        <h1><%= joke.title %></h1>
        <% if(joke.body) { %>
        <p><%= joke.body %></p>
        <% } if(joke.image) { %>
        <img src="<%= joke.image %>" alt="<%= joke.title %>" />
        <% } %>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
